body {
  -webkit-text-size-adjust: 100%;
  color: #212121;
  display: flex;
  font-family: Courier, monospace;
  font-size: 16px;
  justify-content: center;
  margin: 0;
}

.content {
  margin: 0 24px 72px 24px;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.content.dragging .embed {
  pointer-events: none;
}

.variable {
  background-color: #f5f5f5;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}

.variable.dragging {
  z-index: 1;
}

.variable-header {
  line-height: 30px;
}

.variable.open > .variable-header {
  border-bottom: 1px solid #bdbdbd;
}

.variable-header::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.variable-toggle-button {
  float: left;
  line-height: 0;
  position: relative;
}

.variable-toggle-button-input {
  appearance: none;
  height: 30px;
  margin: 0;
  touch-action: manipulation;
  width: 30px;
}

.variable-toggle-button-image {
  height: 12px;
  left: 0;
  padding: 9px 11.5px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.variable-toggle-button-input:checked + .variable-toggle-button-image {
  transform: rotate(90deg);
}

.variable-name {
  color: #9e9e9e;
  cursor: default;
  float: left;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.variable-delete-button {
  appearance: none;
  background-color: transparent;
  border: 0;
  float: right;
  line-height: 0;
  padding: 10px;
  touch-action: manipulation;
}

.variable-delete-button:active path {
  stroke: #9e9e9e;
}

.variable-delete-button-image {
  height: 10px;
  vertical-align: bottom;
}

.variable-content {
  background-color: #fff;
  border: 0;
  display: none;
  height: 0;
  width: 100%;
}

.variable.open > .variable-content {
  display: block;
}

.controls {
  background-color: #fff;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 24px 24px 24px;
  position: fixed;
  right: 0;
  z-index: 2;
}

.command-input {
  background-color: #212121;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fafafa;
  font: inherit;
  height: 40px;
  outline: 0;
  padding: 8px;
  width: 100%;
}

.command-input.error {
  color: #f44336;
}

.file-input {
  display: none;
}
